{% extends "../base.html" %}

{% block content %}
    {% if objects %}
        {% for obj in objects %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <h2>{{ obj.name }}</h2>
                  <span class="mr-2">Finger biometric</span>
                  <small class="text-muted">Created: {{ obj.created_at }}</small>
                </div>
                <div class="parameters">
                    <h3>Parameters</h3>
                    <h4>Threshold</h4>
                    <span class="thresh-param">Lower: {{ obj.params.lower }}</span>
                    <span class="thresh-param">Upper: {{ obj.params.upper }}</span>
                    <span class="thresh-param">Denoise lvl: {{ obj.params.denoise }}</span>
                    <span class="thresh-param">Clahe lvl: {{ obj.params.clahe }}</span>
                </div>
                <div>
                    <h2><span class="article-title">Original</span></h2>
                    <img src="{{ obj.orig }}" alt="img" class="article-content" style="max-width: 360px">
                </div>
                <div>
                    <h2><span class="article-title">After preprocessing & base threshold masking</span></h2>
                    <img src="{{ obj.preprocessed }}" alt="img" class="article-content" style="max-width: 360px">
                </div>
                <div>
                    <h2><span class="article-title">Preprocess + Gauss adaptive threshold</span></h2>
                    <img src="{{ obj.gauss }}" alt="img" class="article-content" style="max-width: 360px">
                </div>
                <div>
                    <h2><span class="article-title">Grabcut + Preprocessing</span></h2>
                    <img src="{{ obj.grabcut }}" alt="img" class="article-content" style="max-width: 360px">
                </div>
                <div>
                    <h2><span class="article-title">Grabcut + Preprocessing + Gauss adaptive threshold</span></h2>
                    <img src="{{ obj.grabcut_gauss }}" alt="img" class="article-content" style="max-width: 360px">
                </div>
              </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}